body > header {
    padding-top: 200px;
    padding-bottom: 10px;
    background-image: url('../images/blue.jpg');
    min-height: 400px;
    text-align: center;
    justify-content: center;
    align-items: center;
}

h2 {
    color: #000000;
    font-size: 40px;
    font-family: Courier, monospace;
}

h3 {
    color: #ffffff;
    font-size: 40px;
    font-family: Courier, monospace;
}